head#head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title=title
  // CSS
  link(rel="stylesheet" type="text/css" href="assets/bulma.css")
  link(rel="stylesheet" href="")
  // JS
  script(src="assets/axios.min.js")
