nav.navbar.is-primary#nav
  .navbar-brand
    a.navbar-item(href="/") Express Session
    .navbar-burger
      span
      span
      span
  .navbar-menu
    .navbar-start
      a.navbar-item(href="/") Home
      a.navbar-item(href="/about") About
        
        
        
  script(src="/js/client.navbar.js")
